<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/silvia.jpeg" alt="" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Silvia Nurrobianti</h1>  
            <p class="lead">Student | Unemployee</p>
        </div>
    </div>
</div>
