<div class="container">
    <div class="row">
      <div class="col text-banner">
        <h1> <strong>CONTACT</strong> MANAGEMENT</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, aspernatur a suscipit officia maiores delectus quam voluptatum laboriosam repelle</p>
        <a href="/contact" class="btn btn-primary btn-lg">Get Started</a>
      </div>
      <div class="col">
        <img src="img/iconn.png" alt="" style="width: 100%;" >
      </div>
    </div>
  </div>